.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.message {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.3em;
    transition: .4s;
}

.messageShow {
    visibility: visible;
    opacity: 1;
}

.messageAccess {
    background: greenyellow;
    border: 1px solid rgb(85, 125, 24);
}

.messageError {
    background: red;
    border: 1px solid rgb(110, 0, 0);
    color: #eee;
}