.btn {
    padding: 7px 10px;
    padding-right: 40px;
    border-radius: 5px;
    background-color: rgba(var(--rgb-first-color), 0);
    border: 1px solid var(--first-color);
    position: relative;
    transition: .4s;
}

.btn::after,
.btn::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 20px;
    width: 2px;
    height: 12px;
    background: var(--first-color);
    transform-origin: bottom;
    transition: .4s, transform 0s;
}

.btn::after {
    transform: rotate(40deg);
}

.btn::before {
    transform: rotate(-40deg);
}

.btn.open::after,
.btn.open::before {
    transform-origin: top;
    transition: .4s;
}

.btn:hover,
.btn.open {
    background-color: rgba(var(--rgb-first-color), .2);
}



.children {
    position: relative;
    min-height: 0px;
    overflow: hidden;
    padding: 0px;
    transition: .4s;
}

.wrap {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .45s linear;
}

.wrap.open {
    grid-template-rows: 1fr;
}

.wrap.open .children {
    padding: 20px;
}