.btn {
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid var(--first-color);
    position: relative;
}

.btn::after,
.btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 1px;
    background: var(--first-color);
    transform: rotate(0deg);
    transition: .4s, transform 0s;

}

.btn::after {
    left: 0;
    transform-origin: left;
}

.btn::before {
    right: 0;
    transform-origin: right;
}

.btn.open::after {
    left: 50%;
    bottom: -40%;
    width: 20px;
    transform: rotate(-30deg);
    transform-origin: left;
    transition: bottom .4s, transform .4s;
}

.btn.open::before {
    display: block;
    right: 50%;
    bottom: -40%;
    width: 20px;
    transform: rotate(30deg);
    transform-origin: right;
    transition: bottom .4s, transform .4s;
}

.children {
    height: 0;
    position: relative;
    opacity: 0;
    margin-top: 20px;
    padding: 0px;
    border: 1px solid #333;
    transform-origin: top left;
    transition: .4s;
}

.children.open {
    height: 600px;
    opacity: 1;
    transition: .4s;
}