.btn {
    padding: 10px 15px;
}

.btn__action {
    --paused: running;
    border-radius: var(--border-radius);
    border-bottom: 2px solid rgba(var(--rgb-second-color), .3);
    background-image: linear-gradient(315deg, rgba(var(--rgb-first-color), .3) 0%, rgba(var(--rgb-second-color), .3) 74%);
    font-weight: bold;
    position: relative;
    overflow: hidden;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    z-index: 1;
    transition: all 0.3s ease;
}

.btn__action::before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    animation: shiny 3s ease-in-out infinite var(--paused);
}

.btn__action:hover::before {
    animation-play-state: paused;
}

.btn__action::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-image: linear-gradient(315deg, rgba(var(--rgb-first-color), .5) 0%, rgba(var(--rgb-second-color), .5) 74%);
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
    .btn__action:hover::after {
        top: 0;
        height: 100%;
    }
}


.btn__action:active, .btn__action.active {
    top: 3px;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .1),
        -4px -4px 6px 0 rgba(116, 125, 136, .1),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .1),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .1);
        transition: all 0.3s ease;
}

.btn__action:disabled{
    background: #8b8b8b;
    cursor: default;
}

.btn__action:disabled::after,
.btn__action:disabled::before{
    display: none;
}
.btn__action:disabled:active,
.btn__action:disabled.active{
    top: 0px;
    box-shadow: none;
        transition: all 0.3s ease;
}

@keyframes shiny {
    0% {
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}